:root{
    --background: #1e1c21;
    --pink: #fc1e8b;
    --purple: #7278c3;
    --blue: #00a8dc;
}


*{
    margin: 0;
    padding: 0;
}


body{
    background-color: var(--background);
    font-family: 'Titillium Web', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}
.gradient{
    background: rgba(252,30,137,1);
    background: -moz-linear-gradient(left, rgba(252,30,137,1) 0%, rgba(114,119,195,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(252,30,137,1)), color-stop(100%, rgba(114,119,195,1)));
    background: -webkit-linear-gradient(left, rgba(252,30,137,1) 0%, rgba(114,119,195,1) 100%);
    background: -o-linear-gradient(left, rgba(252,30,137,1) 0%, rgba(114,119,195,1) 100%);
    background: -ms-linear-gradient(left, rgba(252,30,137,1) 0%, rgba(114,119,195,1) 100%);
    background: linear-gradient(to right, rgba(252,30,137,1) 0%, rgba(114,119,195,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc1e89', endColorstr='#7277c3', GradientType=1 );
}

.container{
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

header .container{
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
}

header ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    flex-flow: wrap;
    
}

header nav{
    width: 60%;
}

header a {
    text-transform: uppercase;
}

header img{
    margin-right: 100px;
    
}

.partidas{
    text-align: center;
    width: 100%;
    min-height: 100px;
    background: rgba(66,44,90,1);
    background: -moz-linear-gradient(top, rgba(66,44,90,1) 0%, rgba(16,15,17,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(66,44,90,1)), color-stop(100%, rgba(16,15,17,1)));
    background: -webkit-linear-gradient(top, rgba(66,44,90,1) 0%, rgba(16,15,17,1) 100%);
    background: -o-linear-gradient(top, rgba(66,44,90,1) 0%, rgba(16,15,17,1) 100%);
    background: -ms-linear-gradient(top, rgba(66,44,90,1) 0%, rgba(16,15,17,1) 100%);
    background: linear-gradient(to bottom, rgba(66,44,90,1) 0%, rgba(16,15,17,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#422c5a', endColorstr='#100f11', GradientType=0 );
}

.partidas .container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-flow: wrap;
}

.partida{
    padding: 0 0 10px 0;
}
.partida img{
    width: 40px;
    padding: 0 10px;

}

.partida h2{
    font-size: 20px;
    text-align: start;
    padding: 10px 0;
}

.partida div{
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.red{
    color: red;
}

.banner{
    width: 100%;
    height: 400px;
    background-image: url("../img/Imagens/meta_mundo.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ligas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.ligas img{
    height: 143px;
}

.ligas h4{
    font-size: 45px;
    text-transform: uppercase;
}

.ligas h3{
    font-size: 90px;
    text-transform: uppercase;
    line-height: 40px;

}

.ligas div{
    margin-bottom: 35px;

}

.sobre_fundo{
    background-image: url("../img/Imagens/Teams/T6.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 600px;
    clip-path: polygon(0 16%, 100% 0, 100% 81%, 0% 100%);
    align-items: center;
    justify-content: flex-end;
    display: flex;
}

.sobre_fundo_filtro{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba( 114, 120, 195, 0.5)
    
}
 .sobre{
    position: relative;
    display: flex;
 }

 .sobre img{
    position: absolute;
    z-index: 99;
    top: -20px;
    left: 150px;
    width: 100%;
    max-width: 30%;
}

.texto_sobre{
    width: 40%;
    margin-right: 220px;
    text-align: right;
    text-shadow: 0px 3px 3px #000;
}

.texto_sobre h2{
    margin-bottom: 2em;
}

.content{
    display: flex;
    justify-content: space-between;
    margin-top: 250px;
}

.content section{
    width: 70%;
}

.card{
    width: 100%;
    margin-bottom: 2em;
    box-shadow: 0px 3px 10px black;
    display: flex;
    justify-content: flex-start;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(30,28,33,1) 30%, rgba(30,28,33,1) 100%);
}

.card img{
    width: 220px;
    height: 220px;
    object-fit: cover;
}

.card div{
    padding: 2em;
}

.card div:hover{
    background-color: var(--purple);
    transition-duration: 0.3s;
    color: var(--background)
}

.content h3{
    text-transform: uppercase;
    padding: 1em 0;
    font-size: 1.8em;
}

.content article{
    width: 25%;


}

.resultados_box{
    padding: 2em;
    box-shadow: 0px 3px 10px black;
}

.resultado div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.resultado{
    text-align: center;
    margin-bottom: 1.2em;
}

.resultado img{
    width: 30px;
}

.resultado p{
    font-size: 1.7em;
    margin: 0.1em 0;
}

footer{
    background-color: black;
    box-shadow: 0px -6px 10px #000000;
}