:root{
    --background: #1e1c21;
    --pink: #fc1e8b;
    --purple: #7278c3;
    --blue: #00a8dc;
}


*{
    margin: 0;
    padding: 0;
}


body{
    background-color: var(--background);
    font-family: 'Titillium Web', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}
.gradient{
    background: rgba(252,30,137,1);
    background: -moz-linear-gradient(left, rgba(252,30,137,1) 0%, rgba(114,119,195,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(252,30,137,1)), color-stop(100%, rgba(114,119,195,1)));
    background: -webkit-linear-gradient(left, rgba(252,30,137,1) 0%, rgba(114,119,195,1) 100%);
    background: -o-linear-gradient(left, rgba(252,30,137,1) 0%, rgba(114,119,195,1) 100%);
    background: -ms-linear-gradient(left, rgba(252,30,137,1) 0%, rgba(114,119,195,1) 100%);
    background: linear-gradient(to right, rgba(252,30,137,1) 0%, rgba(114,119,195,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc1e89', endColorstr='#7277c3', GradientType=1 );
}

.container{
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

header .container{
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
}

header ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    flex-flow: wrap;
    
}

header nav{
    width: 60%;
}

header a {
    text-transform: uppercase;
}

header img{
    margin-right: 100px;
    
}

.partidas{
    text-align: center;
    width: 100%;
    min-height: 100px;
    background: rgba(66,44,90,1);
    background: -moz-linear-gradient(top, rgba(66,44,90,1) 0%, rgba(16,15,17,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(66,44,90,1)), color-stop(100%, rgba(16,15,17,1)));
    background: -webkit-linear-gradient(top, rgba(66,44,90,1) 0%, rgba(16,15,17,1) 100%);
    background: -o-linear-gradient(top, rgba(66,44,90,1) 0%, rgba(16,15,17,1) 100%);
    background: -ms-linear-gradient(top, rgba(66,44,90,1) 0%, rgba(16,15,17,1) 100%);
    background: linear-gradient(to bottom, rgba(66,44,90,1) 0%, rgba(16,15,17,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#422c5a', endColorstr='#100f11', GradientType=0 );
}

.partidas .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: wrap;
}

.proximas_partidas{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.partida{
    padding: 0 0 10px 0;
}

.partida img{
    width: 40px;
    padding: 0 10px;

}

.partida h2{
    font-size: 20px;
    text-align: start;
    padding: 10px 0;
}

.partida div{
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.red{
    color: red;
}

.banner{
    width: 100%;
    height: 400px;
    background-image: url("../img/Imagens/meta_mundo.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ligas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.ligas img{
    height: 143px;
}

.ligas h4{
    font-size: 45px;
    text-transform: uppercase;
}

.ligas h3{
    font-size: 90px;
    text-transform: uppercase;
    line-height: 40px;

}

.ligas div{
    margin-bottom: 35px;

}

.ligas_imagens{
       display: flex;
       justify-content: space-around;
       width: 100%; 
}

.sobre_fundo{
    background-image: url("../img/Imagens/Teams/T6.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 600px;
    clip-path: polygon(0 16%, 100% 0, 100% 81%, 0% 100%);
    align-items: center;
    justify-content: flex-end;
    display: flex;
}

.sobre_fundo_filtro{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba( 114, 120, 195, 0.5)
    
}
 .sobre{
    position: relative;
    display: flex;
 }

 .sobre img{
    position: absolute;
    z-index: 99;
    top: -20px;
    left: 150px;
    width: 100%;
    max-width: 30%;
}

.texto_sobre{
    width: 40%;
    margin-right: 220px;
    text-align: right;
    text-shadow: 0px 3px 3px #000;
}

.texto_sobre h2{
    margin-bottom: 2em;
}

.content{
    display: flex;
    justify-content: space-between;
    margin-top: 250px;
}

.content section{
    width: 70%;
}

.card{
    width: 100%;
    margin-bottom: 2em;
    box-shadow: 0px 3px 10px black;
    display: flex;
    justify-content: flex-start;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(30,28,33,1) 30%, rgba(30,28,33,1) 100%);
}

.card img{
    width: 220px;
    height: 220px;
    object-fit: cover;
}

.card div{
    padding: 2em;
}

.card div:hover{
    background-color: var(--purple);
    transition-duration: 0.3s;
    color: var(--background)
}

.content h3{
    text-transform: uppercase;
    padding: 1em 0;
    font-size: 1.8em;
}

.content article{
    width: 25%;


}

.resultados_box{
    padding: 2em;
    box-shadow: 0px 3px 10px black;
}

.resultado div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.resultado{
    text-align: center;
    margin-bottom: 1.2em;
}

.resultado img{
    width: 30px;
}

.resultado p{
    font-size: 1.7em;
    margin: 0.1em 0;
}

footer{
    background-color: black;
    box-shadow: 0px -6px 10px #000000;
    min-height: 250px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(30,28,33,1) 30%, rgba(30,28,33,1) 100%);
    padding: 2em 0;
}

footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer nav h3{
    font-size: 1.6em;
    color: #646464;
    margin-bottom: 1em;

}

footer nav ul{
    list-style-type: none;
}

footer nav li{
   margin-bottom: 0.4em;
}

footer nav a:hover{
    border-bottom: solid 1px var(--purple);
}
/* Icones rodapé*/

.sociais{
    display: flex;
    justify-content: space-between;
    font-size: 3em;
    margin-top: 0.5em;
}

.sociais i{
    background: linear-gradient(to top, rgba(252,30,137,1) 0%, rgba(114,119,195,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
   
}
/* Inicia configuração form do rodapé */

footer form{
    display: flex;
    flex-direction: column;
}

footer form label{
    font-size: 2em;
    font-weight: bold;
    color: #646464;
    margin-bottom: 0.3em;
}

footer form input{
    height: 2em;
    width: 15em;
    margin-right: -5px;
    outline: none;
    padding: 1px;

}

.btn{
    color: white;
    border: none;
    text-decoration: none;
    padding: 0.6em 2em;   
    cursor: pointer;   
}

footer p{
    text-align: center;
    color: #646464;
}

/* Inicia página cadastro */

.banner_cadastro{
    width: 100%;
    height: 273px;
    background-image: url(../img/Agrupar\ 12.png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: bottom;

}

.banner_cadastro h1{
    font-size: 3em;
    text-transform: uppercase;
}

/* Formulário */

.form_cadastro{
    width: 100%;
    max-width: 400px;
    margin: 10em auto;
    box-shadow: -1px 4px 15px #000, -1px -6px 10px #7278c3;
    padding: 1.5em;
    border-radius: 5px;
}

.campo{
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.campo label{
    text-transform: uppercase;
}

input [type="text"],
input [type="password"],
input [type="email"],
input [type= date],
select{
    width: 50%;
    background-color: #1e1c21;
    border: none;
    outline: none;
    border-bottom: solid 1px #7278c3;
    color: #ccc;
}

.campo input:focus{
    background-color: #2f2c33;
}

.campo fieldset{
    border: none;
}

.campo fieldset label{
    margin: 2em 2em 2em 0;
}

.termos{
    justify-content: unset;
    align-items: center;
}

.termos input{
    margin-right: 0.5em;
}

.campo .input{
    margin-right: 0.5em;
}

.campo .btn{
    margin: auto;
}
header .fa-bars{
    display: none;
}

/* Início Responsividade */
/* 800px */

@media(max-width: 800px){
    .container{
        width: 95%;
    }
    header .container img{
        max-width: 180px;
    }
    .partidas .container{
        align-items: flex-start;
        flex-flow: nowrap;
    }
    .em_andamento{        
        width: 30%;
    }
    .proximas_partidas{
        width: 70%;
        flex-flow: wrap;
    }
    .ligas h4{
        font-size: 30px;
    }
    .ligas h3{
        font-size: 60px;
    }
    .ligas img{
        height: 90px;
    }
    .sobre img{
        max-width: 50%;
        left: 30px;
    }
    .texto_sobre{
        width: 50%;
        margin-right: 30px;
    }
    .content{
        margin-top: 50px;
    }
    .card img{
        margin-top: 2.5em;
        margin-left: 1em;
    }
    

} /* Fim Media Query 800px */
/*Mobile*/

@media(max-width:460px){
    header .fa-bars{
        color:  var(--purple);
        font-size: 3em;
        display: block;
    }
    header .container div{
        display: flex;
        justify-content: space-around;
        align-items: center
    }
    header .container div a{
        margin-left: 7em;
    }
    #menu{
        position: absolute;
        top: 5.5em;
        width: 100%;
        background-color: var(--purple);
        left: 0;
        display: none;
    }
    #menu ul{
        flex-direction: column;
        height: 300px;
        margin-left: 1em;
    }
    #menu a{
        display: flex;
        padding: 0.5em 0;
        
    }


    header .container div a{
    margin-left: 4em;
    }

    .partidas .container{
        width: 97%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .em_andamento{
        width: 37%;
        align-self: flex-start;
        margin-left: 1em;

    }

    .proximas_partidas{
        width: 90%;
    }

    .partida img{
        width: 30px;
        padding: 0 10px;
    }

    .banner{
        height: 250px;
    }

    .banner img{
        max-width: 100px;
    }  

    .ligas{
        flex-direction: column;
    }

    .ligas div:nth-last-child(1){
        display: flex;
    }

    .ligas h4, .ligas h3{
        font-size: 2em;
        line-height: 20px;
        margin-right: 0.5em;
    }

    .sobre img{
        display: none;
    }

    .texto_sobre{
        width: 90%;
    }

    .content{
        flex-direction: column;
        width: 95%;
    }

    .content section{
        width: 90%;
        margin: auto;
    }

    .content article{
        width: 100%;
    }

    .card{
        flex-direction: column;
        margin-bottom: 1em;
    }

    .card img{
        width: 100%;
        margin-left: 0px;
    }

    .card div{
        padding: 1em;
    }

    footer .container{
        flex-direction: column;
        align-items: flex-start;
        padding-left: 1em;
    }
    
  }
